{% extends 'base.html.twig' %}


{% block title %}
    Accueil
{% endblock %}


{% block body %}

<style>
    .home { margin: auto; max-width: 75%; width: 100%; font: 18px/1.5 sans-serif; }
    .home h3 { text-decoration: underline; }
    .home code { background: #F5F5F5; padding: 2px 6px; }
    .home h4 { font-style: italic; font-weight: lighter; }
    .home ul { padding-bottom: 40px; }
    .route { background: grey !important; color: white; padding: 15px 30px !important; }
</style>

<div class="home">

    <h1>ZombieGO - API<h1/>
    <h4>- API created with Symfony as part of an ACS project with REACT NATIVE : ZombieGO -</h4>
    <hr>
    <h3>Introduction</h3>
    <p>This is the documentation for Version 1 (V1) of the API, september 2020.</p>
    <h3>Response Formats</h3>
    <p>The default response format is JSON.</p>
    <h3>Authentication</h3>
    <p>The API don't requires an access key for all "GET" routes.</p>
    <h3>All Routes</h3>
    <p>All routes need to be prefixed with <code>https://zombieapi.promo-41.codeur.online</code></p>
    <ol>
      <li>
        <h3>Element Routes</h3>
        <code class="route">GET /api/v1/element</code>
        <p>Returns all element with the following informations :</p>
        <ul>
          <li><code>id</code></li>
          <li><code>title</code></li>
          <li><code>item</code></li>
        </ul>
        <code class="route">GET /api/v1/element/{id}</code>
        <p>Returns elements with matching element id.</p>
        <br>
        <code class="route">GET /api/v1/element/{id}/item</code>
        <p>Returns all the items that are linked to the selected element by its id.</p>
      </li>
      <li>
        <h3>Item Routes</h3>
        <code class="route">GET /api/v1/item</code>
        <p>Returns all items with the following informations :</p>
        <ul>
          <li><code>id</code></li>
          <li><code>title</code></li>
          <li><code>element</code></li>
        </ul>
        <code class="route">GET /api/v1/item/{id}</code>
        <p>Returns item with matching item id.</p>
      </li>
      <li>
        <h3>Icon Routes</h3>
        <code class="route">GET /images{icon}</code>
        <p>Returns icon for the element or item with matching element or item title.</p>
	<p>Warning : {icon} is the type of "/name.png".</p>
      </li>
    </ol>


</div>
{% endblock %}
